@import 'reset';
@import 'canvas';

* {
  box-sizing: border-box;
}

body {
  background: #fcfcfc;
  color: #333;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 1em;
  padding: 4rem 0 0 0;
}

h1 {
  border-bottom: 2px solid #333;
  font-size: 2rem;
  line-height: 1;
  margin: 0 0 1rem 0;
  padding: 0 0 12px 0;
}

p {
  line-height: 1.4285;
}

#content {
  margin: 0 auto;
  max-width: 800px;
  width: 90vw;
}
